[submodule "external_projects/bccm_player"]
	path = submodules/bccm_player
	url = https://github.com/bcc-code/bccm-player.git
[submodule "submodules/bccm_flutter"]
	path = submodules/bccm_flutter
	url = https://github.com/bcc-code/bccm-flutter
