[submodule "external_projects/rudder-sdk-android"]
	path = external_projects/rudder-sdk-android
	url = https://github.com/andreasgangso/rudder-sdk-android.git
[submodule "external_projects/bccm_player"]
	path = external_projects/bccm_player
	url = https://github.com/bcc-code/bccm-player.git
