<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="media.bcc.bccm_player" >

    <application>
        <activity
            android:name=".FullscreenPlayerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/title_activity_picture_in_picture"
            android:theme="@style/TransparentActivity"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:supportsPictureInPicture="true"
            />
    </application>

</manifest>