<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:name="${applicationName}"
        android:banner="@mipmap/ic_banner">
        <activity android:name=".MainActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="app.bcc.media"
                    android:scheme="http" />
                <data
                    android:host="app.bcc.media"
                    android:scheme="https" />
                <data
                    android:host="brunstad.tv"
                    android:scheme="http" />
                <data
                    android:host="brunstad.tv"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>