class Env {
  static const AUTH0_CLIENT_ID = 'CU6aNYSKaD6vpgFZvLJ9gvGAFnKRlpir';
  static const AUTH0_DOMAIN = 'login.bcc.no';
  static const AUTH0_AUDIENCE = 'api.bcc.no';
  static const BRUNSTADTV_API_ENDPOINT = 'https://api.brunstad.tv/query';
  static const NPAW_ACCOUNT_CODE = '';
}
