part of 'env.dart';

class _Secrets {
  static const String npawAccountCode = "$NPAW_ACCOUNT_CODE"; // can be ''
  static const String rudderstackWriteKey = "$RUDDERSTACK_WRITE_KEY"; // Can be ''
  static const String webUrl = "$WEB_URL"; // Can be ''
  static const bool enableStudy = $ENABLE_STUDY; // true for dev
  static const String unleashClientKey = "$UNLEASH_CLIENT_KEY";  // can be ''
  static const String unleashProxyUrl = "$UNLEASH_PROXY"; // can be ''
  static const String unleashAppName = "$UNLEASH_APP_NAME"; // can be ''
}
