part of 'env.dart';

class _Secrets {
  static const String npawAccountCode = "$NPAW_ACCOUNT_CODE"; // can be ''
  static const String rudderstackWriteKey = "$RUDDERSTACK_WRITE_KEY"; // Can be ''
  static const String studyUrl = "$STUDY_URL"; // Can be ''
  static const bool enableStudy = $ENABLE_STUDY; // true for dev
}
